modules = ["nodejs-20", "web", "python-3.12"]
run = "cd VedAstroPy && uvicorn main:app --host 0.0.0.0 --port 5000"

[nix]
channel = "stable-24_05"
packages = ["vim"]

[deployment]
run = ["sh", "-c", "cd VedAstroPy && uvicorn main:app --host 0.0.0.0 --port 5000"]

[workflows]
runButton = "Run FastAPI"

[[workflows.workflow]]
name = "Run FastAPI"
author = 36302973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd VedAstroPy && uvicorn main:app --host 0.0.0.0 --port 5000 --reload"

[[ports]]
localPort = 5000
externalPort = 80
