modules = ["python-3.12"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 36302973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 5000
externalPort = 80
